<%= form_with model: @user do |form| %>
  <%= form.label :username, 'Username:' %>
  <%= form.text_field :username, value: 'username' %><br>
  <%= form.label :email, 'Email:' %>
  <%= form.email_field :email, placeholder: 'yourname@email.com' %><br>
  <%= form.label :password, 'Password:' %>
  <%= form.password_field :password, placeholder: 'At least 6 characters' %><br>
  <%= form.submit 'Submit' %>
<% end %>

<%# form_with helper creates HTML for you. You need to set Turbo to false else
when you submit the form you will not get a reload of the page.
This form uses the for_with helper with HTML tag helpers. %>

<%#<%= form_with(url: '/users', method: 'post', data: { turbo: false } ) do %>
  <%#<%= label_tag(:username, 'Username:') %>
  <%#<%= text_field_tag(:username) %>
  <%#<%= label_tag(:email, 'Email:') %>
  <%#<%= email_field_tag(:email) %>
  <%#<%= label_tag(:password, 'Password:') %>
  <%#<%= password_field_tag(:password) %>
  <%#<%= submit_tag('Submit') %>
<%# <% end %>
 
 
 
 <%# the 'name' attribute is what gets passed into the params hash as a key 
  However, using user[name] forces the form to provide a nested hash of user attributes
  for User e.g., params[User] = {'usename' => 'xyz, 'email' => 'xyz'...} which
  is easier to pass into the User#Create method than 
  username: params[:username], email: params[:email], password: params[:password] %>
 
 <%# This form does not have an authentication token %>
 <%# <form accept-charset='UTF-8' action="/users" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="user[username]"><br><br>
  <label for="email">Email:</label>
  <input type="email" id="email" name="user[email]"><br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="user[password]"><br><br>
  <input type="submit" value="Submit">
</form>  %>